@{
    ViewData["Title"] = "Home Page";
}

<!-- Swiper Container -->
<div class="swiper-container" style= " padding-top:50px; width: 100%; height: 65vh;">
    <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide" style="background-image: url('https://cms-live-rc.pandora.net/resource/responsive-image/3027516/m78-hero-module/lg/3/q224-summer-model-09-hero.jpg'); background-size: cover; background-position: center;">
            <div class="swiper-caption">
                <h1>PANDORA</h1>
                <h2>Celebrate Every Moment</h2>
                <a href="/Products" class="btn btn-primary" style="margin-left:0px">
                    DISCOVER IT NOW
                </a>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide" style="background-image: url('https://cms-live-rc.pandora.net/resource/responsive-image/3106946/m78-hero-module/lg/4/hero-rings-expanded.jpg'); background-size:cover; background-position: center;">
            <div class="swiper-caption">
                <h1>PANDORA</h1>
                <h2>Celebrate Every Moment</h2>
                <a href="/Products" class="btn btn-primary" style="margin-left:0px">
                    DISCOVER IT NOW
                </a>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide" style="background-image: url('https://cms-live-rc.pandora.net/resource/responsive-image/3040996/m37-hybrid-plp-hero-module/lg/3/q224-summer-product-03-rgb-extended-hybridhero.jpg'); background-size: cover; background-position: center;">
            <div class="swiper-caption">
                <h1>PANDORA</h1>
                <h2>Celebrate Every Moment</h2>
                <a href="/Products" class="btn btn-primary" style="margin-left:0px">
                    DISCOVER IT NOW
                </a>
            </div>
            </div>
        </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
