html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
/* Ensure Swiper container takes full width and height */
/* Ensure Swiper container takes full viewport width and height */
.swiper-container {
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    position: relative;
    overflow: hidden; /* Ensure no overflow */
}

/* Ensure Swiper slides cover the full area */
.swiper-slide {
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%; /* Full width of the container */
}

/* Style for captions */
.swiper-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

/*.custom-card {
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}

.custom-card-img {
    border-bottom: 1px solid #ddd;
    height:20%;*/
    /*object-fit: cover;*/
/*}

.custom-card-body {
    padding: 0.5rem;
}

.custom-card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.product-details .details-content {
    margin-top: 0.5rem;
    font-size: 0.875rem;*/ /* Smaller font size for details */
/*}

.product-details .toggle-icon {
    font-weight: bold;
    margin-right: 0.5rem;
}

.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}*/

.btn-sm {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
}



/* Card Styles */
.custom-card {
    border: 1px solid #e3e6f0;
    border-radius: 0.75rem;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    transition: transform 0.3s ease;
}

    .custom-card:hover {
        transform: translateY(-10px);
    }

.image-container {
    overflow: hidden;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
}

.custom-card-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image-container:hover .custom-card-img {
    transform: scale(1.1);
}

.custom-card-body {
    padding: 1rem;
}

.custom-card-title {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

/* Product Details */
.product-details {
    margin-top: 1rem;
}

    .product-details .btn {
        width: 100%;
        text-align: left;
        padding: 0.5rem;
        background-color:rgba(58, 59, 69, 0.15);
    }

    .product-details .details-content {
        margin-top: 0.5rem;
        padding: 0.75rem;
        background-color: #f8f9fc;
        border: 1px solid #e3e6f0;
        border-radius: 0.35rem;
    }

/* Buttons */

.form-check-input {
    border-radius: 0; /* Remove rounded corners */
}